# Project (Don't need to edit it.)
PROJECT_NAME={{ project_name }}

# Environment
ENV=development
DEBUG=True

# MySQL database
MYSQL=True
MYSQL_NAME={{ project_name }}
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Admin
ADMIN_NAME=jarrekk
ADMIN_EMAIL=me@jarrekk.com

# Email
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
SERVER_EMAIL=
EMAIL_TIMEOUT=30
EMAIL_SUBJECT_PREFIX=[{{ project_name }}]

# Compress
COMPRESS_ENABLED=True

# Celery
BROKER_URL=amqp://guest@localhost:5672//
CELERY_RESULT_BACKEND=db+mysql://root:root@127.0.0.1/celery
