# Environment
ENV=development
DEBUG=True

# MySQL database
MYSQL=False
MYSQL_NAME={{ project_name }}
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=

# Admin
ADMIN_NAME=jarrekk
ADMIN_EMAIL=me@jarrekk.com

# Email

# Secret
SECRET_KEY={{ secret_key }}
